@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swapx');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position:relative;
}

/* menu */
.header{
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 12px #777;
}

nav ul{
  display: block;
  padding: 0;
  list-style-type : none;
  display: flex;
}

nav li {
  float: left;
    list-style-type: none;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  color: #0059ff;
}

nav li a:hover {
  background-color: #0059ff;
  color: white;
}

@keyframes menuShow {
  0% {
    right: -200px;
  } /*en dehosr de la vue*/
  100% {
    right: 0;
  } /* visible*/
}

header input[type="checkbox"]{
  display: none;
}

header input[type="checkbox"]:checked ~ nav{
  display: block;
  animation: menuShow 0.5s normal;
}

header label{
  float: right;
  display: none;
  font-size: 2rem;
  padding-left: 20px;
  line-height: 50px;
  background-color: white;
  width: 100%;
  position: fixed;
  cursor: pointer;
  color: #0059ff;
  box-shadow: 1px 1px 12px #777;
}

@media screen and (max-width: 600px){

  header label{
    display: block;
  }

  header nav{
    position: absolute;
    z-index: 10;
    display: none;
    right: 0em;
    top: 50px;
    width: 150px;

  }

  nav ul{
    flex-direction: column;
    margin: 0;
  }

}

/* footer */
footer {
  background-color: #0059ff;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 64px;
}
footer li a {
  text-decoration: none;
  color: white;
}

/* buttons */
.button {
  background-color: #0059ff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 40px 0px 40px 0px;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* homepage */

.parallax {
  background-image: url("images/parallax.jpg");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.en-tete{
  max-width: 600px;
  margin-left: 10vw;

}

.content-home {
  max-width: 1200px;
  margin: 0 auto;
}

 .roundedImage{
    overflow:hidden;
    border-radius:100%;
    box-shadow: 1px 1px 12px #777;
    width:200px;
    height:200px;
}

.perso {
      display: flex;
      flex-wrap: wrap;
      margin-top: 24px;
}

.perso section {
  text-align: center;
  width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
}

.perso img:hover {
   opacity: 0.8;
}
.leaverou {
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  border: black;
}
.img-lea {
  width: 400px;
  height: 350px;
  object-fit: cover;
  object-position: 20% 10%;
  box-shadow: 1px 1px 12px #777;
}

.texte-lea {
  margin-left: 40px;
}
.texte-lea h2 {
  margin: 0px;
  padding-top: 24px;
}

/* page mention légale */

.list-mentions li{
  float: none;
  padding: 10px 40px 10px 40px ;
  background-color: white;
}

/* profil page */
.img-lea-profil {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: 30% 10%;
  box-shadow: 1px 1px 12px #777;
}

/* CSS */

.css {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
}

.css h3 {
  font-family: "Fraunces";
  font-weight: bold;
  font-size: 3em;
  color: #0059ff;
  padding-top: 64px;
}
.css p {
  padding-top: 24px;
  line-height: 1.5em;
}
